@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Pacifico&display=swap");

body {
  overflow: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.header {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  z-index: 2;
}

.control-cont {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

.control-ctr {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 60%;
  flex-wrap: wrap;
  margin-bottom: 20px;
  z-index: 1; /* Ensure dropdowns are above main content */
  padding-left: 50px;
  padding-right: 60px;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #379937;
}

body {
  margin: 40px;
}

.dropdown {
  position: relative;
  z-index: 10;
  font-size: 14px;
  color: #333;
  width: 200px;

  .dropdown-list {
    position: absolute;
    top: calc(100% + 5px); /* Position below dropdown label */
    left: 0;
    z-index: 10; /* Ensure dropdown list is above other content */
    max-height: 66vh;
    overflow-y: auto;
  }

  .dropdown.on .dropdown-list {
    display: block; /* Show dropdown list when dropdown is active */
    opacity: 1;
    visibility: visible;
    background-color: #fff;
  }

  .dropdown-option {
    display: block;
    padding: 8px 12px;
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
  }

  .dropdown.on .dropdown-option {
    opacity: 1; /* Fade in dropdown options when dropdown is active */
  }

  .dropdown-label {
    display: block;
    height: 30px;
    background: #fff;
    border: 1px solid #ccc;
    padding: 6px 12px;
    line-height: 1;
    cursor: pointer;
    border-radius: 20px;

    &:before {
      content: "▼";
      float: right;
    }
  }

  &.on {
    .dropdown-list {
      transform: scale(1, 1);
      transition-delay: 0s;
      background: #fff;
      box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.15);

      .dropdown-option {
        opacity: 1;
        transition-delay: 0.2s;
      }
    }

    .dropdown-label:before {
      content: "▲";
    }
  }

  [type="checkbox"] {
    position: relative;
    top: -1px;
    margin-right: 4px;
  }
}

.dot {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  transform: translateY(3px);
  border: 0.5px solid rgba(129, 128, 128, 0.267);
  display: inline-block;
}

#coral {
  background-color: rgba(255, 200, 200, 1);
}

#blue {
  background-color: rgba(164, 236, 240, 1);
}

#pink {
  background-color: rgba(238, 188, 218, 1);
}

#orange {
  background-color: rgba(239, 187, 139, 1);
}

#green {
  background-color: rgba(204, 238, 188, 1);
}

#yellow {
  background-color: rgba(255, 230, 167, 1);
}

.main-cont {
  width: 100%;
  height: auto;
  flex-direction: column;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato-bold", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.color-option #todo-header,
.willdo-section {
  display: flex;
  flex-direction: column;
}

.todo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 58%;
  overflow-y: auto;
}

#todo-header,
.willdo-section h1 {
  text-align: center;
}

#todo-header {
  align-items: center;
  display: flex;
  width: 100%;
  height: 20vh;
  flex-direction: column;
  font-family: "Lato";
  font-size: 25px;
  margin-bottom: 10%;
}

#todo-header h1 {
  font-size: 50px;
  font-family: "Pacifico";
}

.flex-container {
  display: flex;
  flex-direction: row;
  height: 72vh;
}

.todo-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: auto;
}

.card {
  width: 379px;

  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 20px;
}

img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.image-container {
  width: auto;
  /* flex: auto; */
  display: flex;
  justify-content: center;
}

.revert-button {
  display: block;
  height: 30px;
  width: 200px;
  background: #fff;
  border: 1px solid #ccc;
  padding: 6px 12px;
  line-height: 1;
  cursor: pointer;
  border-radius: 20px;
}

.revert-button:hover {
  background-color: black;
  color: white;
}

.willdo-section {
  position: fixed;
  top: 210px;
  right: 53px;
  bottom: 20px;
  width: 38%; /* Adjust width as needed */
  background-color: rgb(180, 180, 180);
  border-radius: 20px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow-y: auto;
}

.willdo-header {
  padding: 20px;
}

.willdo-section h1 {
  color: white;
  font-size: 30px;
}

.willdo-card-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  overflow-y: auto;
}

.list-item {
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
}

.list-item button {
  font-size: 18px;
  border-radius: 30px;
  background-color: rgb(0, 0, 0);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  border: none;
  padding: 15px;
  color: white;
  font-family: "Lato";
  font-weight: bold;
}

.list-item button:hover {
  background-color: white;
  color: black;
}

.image-container {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 10px;
}

.item-details {
  padding: 5px 20px 20px 20px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.item-details p {
  font-size: 18px;
  line-height: 5px;
}

.willdo-tot {
  color: white;
  font-family: "Lato";
}

@media (max-width: 1024px) {
  .control-ctr {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }

  .todo-container {
    width: 100%;
  }

  .willdo-section {
    width: 100%;
    right: 0;
    top: auto;
    bottom: 0;
    position: relative;
  }
}

@media (max-width: 768px) {
  .main-div {
    flex-direction: column;
  }

  .todo-container {
    width: 100%;
  }

  .willdo-section {
    width: 100%;
    margin-top: 20px;
    right: 0;
    top: auto;
    bottom: 0;
    position: relative;
  }
}

@media (max-width: 480px) {
  #todo-header h1 {
    font-size: 30px;
  }

  .revert-button {
    width: 100%;
    font-size: 16px;
    padding: 10px;
  }
}
